%table.time-new-font{ align: :center}
  %tr
    %td{align: :center}
      %strong.title.red TERMS & CONDITIONS
  %tr
    %td
      %strong.title.red INCLUSIONS:
      The
      %strong Safetydrape®
      system being priced for this project includes:
      %ul
        %li
          %strong Drapes:
          Flame retardant, proprietary fabric that has been tested and conforms to NFPA fire tests. The material has been designed to allow maximum blast pressure venting while capturing flying glass shards and collateral debris caused by an explosion.
  %tr
    %td
      %strong.title.red GENERAL NOTES:
      %ol{style: 'margin: 0;'}
        %li
          Proposal based on furnishing MitiTech LLC standard
          %strong Safetydrape®
          product.
        %li The prices set forth herein are predicated on contract performance at the price and wage levels in effect within 60 days of the quote date. If performance is required after that date, the prices set forth herein shall be adjusted to reflect the prevailing price and wage differentials applying after that above date.
        %li Mitigation Technologies excludes any materials not specifically identified in this proposal.
        %li No liquidated damages or indemnification of others is included in this proposal.
        %li Mitigation Technologies is not subject to the general conditions or specific conditions of any general construction contractual documents.
        %li This proposal assumes that suitable scaffolding with be erected prior to our deployment and will be available for our use for the term off the installation.
        %li Payment terms: 50% Deposit and 50% balance before delivery. Terms are Net invoice without retainage. Sales, use, excise, federal, state, or local taxes are not included. US Federal & Local Governments are entitled to Net 30 day terms.
        %li This proposal excludes Davis-Bacon & Union wages. The prices and discounting listed are for direct-to. US Federal Government only. Additional terms, conditions, and fees may be applicable if this project is sourced to non-US Government entities.
  %tr
    %td
      %br
      %strong.title.red GENERAL TERMS AND CONDITIONS OF SALE
      %br
      The following terms and conditions (the "General Conditions" or this agreement) apply to any sale of products (the "Products") by Mitigation Technologies or on behalf of the Manufacturer.
  %tr
    %td
      %ol
        %li
          %u.title.red GENERAL.
          THESE GENERAL CONDITIONS, TOGETHER WITH ANY NONCONFLICTING PROVISION IN Mitigation Technologies' QUOTATION, ARE INTENDED BY THE PARTIES AS THE FINAL EXPRESSION, AND CONTAIN THE COMPLETE AND EXCLUSIVE STATEMENT, OF THE TERMS AND CONDITIONS OF THIS AGREEMENT SUPERSEDING ALL PREVIOUS OR SIMULTANEOUS COMMUNICATIONS EITHER ORAL OR WRITTEN. Any quotation by Mitigation Technologies is an offer, which may only be accepted in full by Purchaser. In the event the Purchaser's purchase order or other form states terms additional to or different from those set forth in this document, this writing shall be deemed notification of objection to such additional or different terms. Accordingly, this Agreement is expressly made conditional on Purchaser's acceptance and assent to the conditions contained on the face and reverse side hereof. Acceptance of the condition contained herein shall be deemed to have occurred at the earlier of (i) seven calendar days from the date specified on Mitigation Technologies' acknowledgment form unless written notice of objection is received by Mitigation Technologies prior to lapse of such seven day period, (ii) Mitigation Technologies' identification of existing goods as goods to which this Agreement refers, or (iii) onset of Mitigation Technologies' manufacturer of future goods. This agreement cannot be waived, varied, modified, or amended except in writing signed by authorized representative of Mitigation Technologies, nor shall the Agreement be waived, varied, modified, or amended by any subsequent course of conduct between the parties.
        %li
          %u.title.red PRICE.
          Unless otherwise stated, applicable prices for the Products sold hereunder are net FOB (INTERCOMS 1990) Mitigation Technologies' factory in (USA) ("FOB"), with freight and insurance for Purchaser's account, and shall be those prices in effect at the time Mitigation Technologies accepts Purchaser's order except as provided below. Because Mitigation Technologies' prices are based on costs and conditions existing on the date of acceptance, prices are subject to change as those conditions change. Accordingly, all orders are subject to increase in price of materials and labor while completing the work hereunder.
        %li
          %u.title.red TAXES.
          Prices exclude all duties, taxes, tariffs, or other governmental charges, which now are, or hereafter may be, imposed upon the sale or use of the Products. All such duties, taxes, tariffs, or other charges paid by Mitigation Technologies shall be for Purchaser's account. Any exemption claimed paid by Mitigation Technologies shall be for Purchaser's account. Any exemption claimed from the application of such duties, taxes, tariffs, or other charges should be plainly designated on the face of orders placed with Mitigation Technologies and accompanied by exemption certificates where required.
        %li
          %u.title.red PAYMENT.
          Payment for Products is due as specified on the first page of Mitigation Technologies' terms and conditions page, Mitigation Technologies may require payment to made through an irrevocable letter of credit in favor of and acceptable to Mitigation Technologies and established by Purchaser at its expense.
        %li
          %u.title.red DELINQUENT PAYMENTS.
          In the event Purchaser fails to make any payment when due, in addition to all other sums payable hereunder, Purchaser shall pay to Mitigation Technologies the reasonable costs and expenses incurred by Mitigation Technologies in connection with all actions taken to enforce collection or to preserve and protect Mitigation Technologies' rights hereunder, whether by legal proceedings or otherwise, including without limitation reasonable attorney's fees, court costs and other expenses. In addition, to the extent permitted by Purchaser's local law, interest on all amounts unpaid after thirty (30) days may be charged at the annual rate of 1.5% percent per month or the highest rate permitted by law, whichever is lower. If any invoice is not paid when due, Mitigation Technologies may suspend delivery of Products or other performance with respect to Purchaser without liability or penalty.
        %li
          %u.title.red TITLE AND SECURITY INTEREST.
          Mitigation Technologies reserves, and Purchaser hereby grants to and creates in favor of Mitigation Technologies, a first priority purchase money security interest in each Product (or the equivalent under Purchaser's local law), including all component parts added by modification or repair, and all proceeds from the sale thereof, until full payment is received. Purchaser agrees to sign upon request, and hereby authorizes Mitigation Technologies to sign on its behalf and as its attorney in fact, any documents necessary to perfect Mitigation Technologies' security interest. Upon resale, Purchaser agrees to take, and immediately assign to Mitigation Technologies, a perfected security interest in each Product.
        %li
          %u.title.red COMMENCEMENT OF FABRICATION.
          Mitigation Technologies will not, and is under no obligation to, commence fabrication of any Products ordered hereunder until:
          %ol{type: 'a'}
            %li All complete contract plans, drawings and specifications have been delivered to Mitigation Technologies;
            %li All detail drawings submitted by Mitigation Technologies have been finally approved by all authorities whose approval is required;
            %li Mitigation Technologies has received all necessary information from other trades, which affect or are related to our work or Products;
            %li Mitigation Technologies shall have received after completion of (a), (b) and (c), reasonable notice to commence fabrication of such Products; and
            %li All credits or debits for changes in quantity or design of material furnished shall have been accepted in writing by Purchaser.
        %li
          %u.title.red SHIPMENT: DELIVERY: CLAIMS.
          Unless otherwise agreed in writing by the parties, shipment and delivery of the Products shall be made FOB. Accordingly, costs for shipment, insurance or similar charges shall be borne by the Purchaser. Delivery of the Products to the first carrier shall constitute delivery to Purchaser. As of delivery to the first carrier, risk of loss is transferred to Purchaser, and all claims for loss or damage in transit or for non-delivery shall be made by Purchaser against the carrier. Notwithstanding the FOB destination, Mitigation Technologies reserves the right to select any mode of transportation. At Mitigation Technologies' option, Products may be shipped in advance of requested shipment date or in installments or partial lots. Any delivery information (including time for shipment) is approximate. Mitigation Technologies' sole responsibility will be to use reasonable commercial efforts to meet specified shipment dates. Purchaser expressly acknowledges that Mitigation Technologies shall not be liable for any loss or damage resulting from a failure to deliver or delays in delivery caused by a labor dispute (including a strike, slowdown, or lockout), fire, flood, or governmental act or regulation, riot, inability to obtain supplies, materials or shipping space, plant breakdown, power failure, delay or interruption of carriers, accidents, governmental regulations, including without limitation, failure to obtain export licenses, acts of God or other causes beyond Mitigation Technologies' control. NOTWITHSTANDING THE ABOVE, Mitigation Technologies SHALL NOT BE LIABLE FOR ANY DAMAGE OR PENALTIES WHATSOEVER, WHETHER INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL, RESULTING FROM Mitigation Technologies' FAILURE TO DELIVER OR DELAY IN DELIVERY FOR ANY REASON.
        %li
          %u.title.red INSPECTION.
          Within five business days of receipt of the Products, Purchaser shall inspect the Products to check for shortages or any other nonconformity. Unless Purchaser shall thereafter notify Mitigation Technologies in writing of any nonconformity (other than that relating to loss or damage in transit, which claims shall be made directly to the carrier) within ten business days of inspection, Purchaser shall be deemed to have accepted the Products without any qualifications and cannot, thereafter, reject the Products for any reason. In any event, Products accepted and used shall be deemed to have been accepted in good condition and in compliance with the specification and order therefore.

        %li
          %u.title.red CANCELLATION.
          This Agreement cannot be canceled or postponed by the Purchaser except with Mitigation Technologies' consent and upon terms that will indemnify Mitigation Technologies against loss. Accordingly, Purchaser shall pay Mitigation Technologies the greater of (i) a charge equal to 10% of its total price or (ii) reasonable cancellation charges, Mitigation Technologies' anticipated profit, and expenses already incurred by Mitigation Technologies in performing or preparing to perform the work required by Purchaser's order, as invoiced by Mitigation Technologies.
        %li
          %u.title.red WARRANTY.
          Subject to the warranty limitation set forth in Section 12 below, Mitigation Technologies warrants that the Products sold hereunder will substantially conform to the applicable specifications and will be free from defects in material and workmanship unconditionally for twenty years after shipment, under normal and proper use and service. Shop drawings prepared by Mitigation Technologies and approved by Purchaser shall be deemed the correct interpretation of the work to be performed even when not consistent with the plans and specifications.

          %strong There is no guarantee impressed or implied that SAFETYDRAPE will do anything except what is listed on Applied Research Associates test document # ARA-TR-98-4626.1-2. The determination that SAFETYDRAPE is the correct product for the purchasers building or situation is the sole decision of the buyer or specifier. MitiTech LLC and its authorized dealers make no claims whatsoever that SAFETYDRAPE will perform in any other building the same as it did during the testing conducted by Applied Research Associates.
        %li
          %u.title.red WARRANTY LIMITATION.
          The warranty and remedies for breach of warranty provided for in these General Conditions extend only to the original installation and do not cover, and Mitigation Technologies shall not be liable for, (i) abnormal wear and tear or damage caused by improper installation, maintenance or use contrary to the instructions published by Mitigation Technologies, (ii) storage of Products in a wet or damp area or unprotected from weather and other job conditions, (iii) any cause beyond the control of Mitigation Technologies, including without limitation conditions caused by movement, settlement or structural defects of the building in which the Products are installed, fire, wind, hail, flood, lightening or other acts of God, international acts, accidents, negligence or exposure to harmful chemical pollutants or other foreign matter or energy, (iv) repair or damage caused by anyone except personnel authorized by Mitigation Technologies, or (v) any scratches, abrasions or other damage to the finish of painted items after they leave Mitigation Technologies' factory. Items repaired or replaced and designs corrected under warranty are warranted only for the remainder of the original warranty period. Any general Product literature is for illustrative purposes only and does not constitute a warranty of any kind. Purchaser accepts full responsibility for the selection of the Products to achieve intended results.
          %br
          THE WARRANTY SET FORTH IN SECTION 11 IS STRICTLY LIMITED TO ITS TERMS AND IS IN LIEU OF ALL OTHER WARRANTIES AND GUARANTEES, EXPRESSED OR IMPLIED, ARISING BY OPERATION OF LAW, COURSE OF DEALING, USAGE OF TRADE OR OTHERWISE, INCLUDING BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
        %li
          %u.title.red REMEDY.
          Purchaser's sole and exclusive remedy, and Mitigation Technologies' only obligation for breach of warranty for Products furnished hereunder, shall be, at Mitigation Technologies' option, to repair or replace the defective item or part that fails within one year warranty period of Section 11, free of charge, provided that Purchaser promptly gives notice to Mitigation Technologies of such failure, returns such item or part to Mitigation Technologies, freight prepaid, and upon examination Mitigation Technologies finds such to have been defective. Purchaser must pay for related costs of making the repair or replacement, including the costs of removal, installation or reinstallation of the Products. In the event Purchaser claims that the Products are defective, it must allow Mitigation Technologies personnel access and permission to inspect the Products at the site of installation or use.
        %li
          %u.title.red DISCLAIMER: LIMITATION OF LIABILITY, TIME FOR CLAIMS.
          Purchaser understands and agrees that Mitigation Technologies shall not be liable for INCIDENTAL, SPECIAL, INDIRECT OR CONSEQUENTIAL OR OTHER SIMILAR DAMAGES including but not limited to loss of profit or revenues, damage for loss of the use of the Products, damage to property, claims of third parties, including personal injury or death suffered as a result of use of Products or failure of Mitigation Technologies to warn, or to adequately warn, against the dangers of the Products or to instruct, or to adequately instruct, about the safe and proper use of the Products whether or not Mitigation Technologies has been advised of the potential for such damages. The total liability of Mitigation Technologies to Purchaser from any cause whatsoever, whether arising under contract, warranty, tort, (including negligence), strict liability, products liability or any other theory of liability, will be limited to the lesser of Purchaser's actual damages or the purchase price paid to Mitigation Technologies for the Products that are the subject of Purchaser's claim. However, this limitation of liability does not apply to damages resulting from personal injury caused by Mitigation Technologies' negligence. All claims against Mitigation Technologies must be brought within one year after the cause of action arises, and Purchaser expressly waives any statute of limitations which might apply by operation of law or otherwise.
        %li
          %u.title.red RESALE OF PRODUCTS.
          Upon resale of any Products sold hereunder, Purchaser agrees to extend to its customers no greater warranties than those contained herein and limit its liability and remedies to the same extent as those set forth herein.
        %li
          %u.title.red PURCHASER SPECIFICATION.
          Mitigation Technologies assumes no liability for any errors or omissions in any specification provided by Purchaser, including any errors or omissions made by Mitigation Technologies in the interpretation of any such specifications. Any items included in any specifications provided by Purchaser and not listed and priced on Mitigation Technologies' proposal or invoice are not part of this Agreement. Purchaser hereby agrees, at its own expense, to defend, indemnify and hold harmless Mitigation Technologies against any and all losses, costs, damages, claims, liabilities or expenses of any kind, including without limitation reasonable attorney's fees, arising out of or resulting from, directly or indirectly, any injury or death to persons or damage to property caused by the designs, or specifications or instructions provided by or required for Purchaser which are incorporated by Mitigation Technologies in the Products.
        %li
          %u.title.red INFRINGEMENT WARRANTY.
          If a claim is made that any Product sold hereunder infringes any product rights of another, Mitigation Technologies will be responsible only for claims based on a valid U.S. Patent or copyright. Mitigation Technologies will defend the claim and hold Purchaser harmless from any final award of damages in such a patent or copyright infringement claim, provided that Purchaser gives Mitigation Technologies prompt notice of the claim and information, reasonable assistance and authority to defend and settle the claim. In the defense or settlement of the claim Mitigation Technologies may: (i) obtain for Purchaser the right to continue using the Product; (ii) replace or modify the Product to be non-infringing; or (iii) recall the Product and refund the purchase price. The warranty shall not apply to claims based solely on any third-party parts incorporated in the Products, or to Products manufactured to Purchaser's designs, specifications or instructions, or to claims of infringement based on claimed rights other than patent or copyright, except that as to such other claims, Mitigation Technologies at its option may elect to defend against such claims without warranty as to award of damages. INFRINGEMENT WARRANTIES OR OBLIGATIONS NOT SPECIFICALLY STATED IN THIS SECTION ARE SPECIFICALLY DISCLAIMED.
        %li
          %u.title.red GOVERNMENTAL AUTHORIZATIONS.
          If the destination of any shipment made by Mitigation Technologies hereunder is outside the United States, Mitigation Technologies will be responsible for applying, in its own name, for any required U.S. export license, and Purchaser will be responsible for timely obtaining and maintaining any required import license, exchange permit or any other governmental authorization required for the import of the Products and the remittance of payments to Mitigation Technologies. Mitigation Technologies and Purchaser will assist each other when such help is reasonably possible.
        %li
          %u.title.red EXPORT CONTROLS.
          Purchaser warrants that it is and will remain in compliance with all export and reexport requirements, including, but not limited to the Export Administration Act and regulations, the Arms Export Control Act and regulations, the Trading with the Enemy Act and regulations, and any orders and licenses issued there under (collectively the "Export Law"). Purchaser additionally warrants that it has not been, and is not currently, disbarred, suspended, prohibited or impaired from exporting, reexporting, receiving, purchasing, procuring, or otherwise obtaining any product, commodity or technical data regulated by any agency of the government of the United States. In particular, Purchaser hereby gives assurance that unless notice is given to and prior authorization is obtained as require by the Export Laws, Purchaser will not knowingly reexport, directly or indirectly, the Product or any technical data shipped by Mitigation Technologies to Purchaser or the direct Product thereof to Country Groups Q, S, W, Y or Z (as defined in the Export laws) or any other prohibited country.
        %li
          %u.title.red SEPARABILITY: INVALIDITY.
          If any portion of this Agreement shall for any reason be held by a court of competent jurisdiction to be invalid and unenforceable provisions will continue to be given effect and bind the parties hereto.
        %li
          %u.title.red GOVERNING LAW.
          This instrument shall be deemed an agreement made under the laws of the state of Maryland, and for all purposes shall be construed and enforced in accordance with and governed by the laws of the State of Maryland without regard to its conflict of laws provisions and excluding the United Nations Convention for the International Sale of Goods. All actions arising hereunder shall be instituted in the State of Maryland.
        %li
          %u.title.red SUCCESSION.
          The provisions of this Agreement shall bind and insure the benefit of the successors and assigns of the parties hereto.
