%tr
  %th{rowspan: 2} Num curtains
  %th{rowspan: 2} Width per curtain
  %th{rowspan: 2} Finished Length
  %th{rowspan: 2} Pattern/color
  %th{colspan: 3} Mark drapery with the following
  %th{rowspan: 2} &nbsp;
%tr
  %th Room
  %th Width
  %th Length
