%tr
  %th{rowspan: 2} Qty
  %th{rowspan: 2} Trough size
  %th{rowspan: 2} Trough color
  %th{colspan: 3} Mark packages with the following
  %th{rowspan: 2} &nbsp;
%tr
  %th Room
  %th Width
  %th Length
